<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shubman Gill Blog</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

</head>
<body>
      <div class="page-wrapper">
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/gallery">Gallery</a>
        <a href="/achievements">Moments</a>
        <a href="/SocialMedia">Media</a>
    </nav>
    <main class="content">
        
        {% block content %} {% endblock %}   
    </main>
   <footer class="simple-footer">
  <p>
    📘 This blog is for Flask learning and education. <br>
    📷 Image from 
    <a href="https://www.instagram.com/shubmangill/" target="_blank">@shubmangill</a>.<br> 
    All rights belong to the original owner.
  </p>
</footer>
</div>

</body>
</html>