{% extends "base.html" %}
{% block content %}
<h2 class="gallery-title">Gallery</h2>
<p class="gallery-subtitle">Photos of Shubman Gill</p>

<div class="gallery-grid">
  <div class="gallery-item fade-in">
    <img src="{{ url_for('static', filename='images/photo1.jpg') }}" alt="Shubman Gill photo 1">
  </div>
  <div class="gallery-item fade-in">
    <img src="{{ url_for('static', filename='images/photo2.jpg') }}" alt="Shubman Gill photo 2">
  </div>
  <div class="gallery-item fade-in">
    <img src="{{ url_for('static', filename='images/photo3.jpg') }}" alt="Shubman Gill photo 3">
  </div>
  <div class="gallery-item fade-in">
    <img src="{{ url_for('static', filename='images/photo4.jpg') }}" alt="Shubman Gill photo 4">
  </div>

  <div class="gallery-item fade-in">
    <img src="{{ url_for('static', filename='images/photo5.jpg') }}" alt="Shubman Gill photo 4">
  </div>
  <div class="gallery-item fade-in">
    <img src="{{ url_for('static', filename='images/photo6.jpg') }}" alt="Shubman Gill photo 4">
  </div>
  <div class="gallery-item fade-in">
    <img src="{{ url_for('static', filename='images/photo7.jpg') }}" alt="Shubman Gill photo 4">
  </div>
  <div class="gallery-item fade-in">
    <img src="{{ url_for('static', filename='images/photo8.jpg') }}" alt="Shubman Gill photo 4">
  </div>
  <div class="gallery-item fade-in">
    <img src="{{ url_for('static', filename='images/photo9.jpg') }}" alt="Shubman Gill photo 4">
  </div>
  <div class="gallery-item fade-in">
    <img src="{{ url_for('static', filename='images/photo10.jpg') }}" alt="Shubman Gill photo 4">
  </div>
  <div class="gallery-item fade-in">
    <img src="{{ url_for('static', filename='images/photo11.jpg') }}" alt="Shubman Gill photo 4">
  </div>
  <div class="gallery-item fade-in">
    <img src="{{ url_for('static', filename='images/photo12.jpg') }}" alt="Shubman Gill photo 4">
  </div>
  <div class="gallery-item fade-in">
    <img src="{{ url_for('static', filename='images/photo13.jpg') }}" alt="Shubman Gill photo 4">
  </div>
  <div class="gallery-item fade-in">
    <img src="{{ url_for('static', filename='images/photo14.jpg') }}" alt="Shubman Gill photo 4">
  </div>
  <div class="gallery-item fade-in">
    <img src="{{ url_for('static', filename='images/photo15.jpg') }}" alt="Shubman Gill photo 4">
  </div>
  <div class="gallery-item fade-in">
    <img src="{{ url_for('static', filename='images/photo16.jpg') }}" alt="Shubman Gill photo 4">
  </div>
  <div class="gallery-item fade-in">
    <img src="{{ url_for('static', filename='images/photo17.jpg') }}" alt="Shubman Gill photo 4">
  </div>
  <div class="gallery-item fade-in">
    <img src="{{ url_for('static', filename='images/photo18.jpg') }}" alt="Shubman Gill photo 4">
  </div>
  <div class="gallery-item fade-in">
    <img src="{{ url_for('static', filename='images/photo19.jpg') }}" alt="Shubman Gill photo 4">
  </div>
  <div class="gallery-item fade-in">
    <img src="{{ url_for('static', filename='images/photo25.jpg') }}" alt="Shubman Gill photo 4">
  </div>
  <div class="gallery-item fade-in">
    <img src="{{ url_for('static', filename='images/photo20.jpg') }}" alt="Shubman Gill photo 4">
  </div>
  <div class="gallery-item fade-in">
    <img src="{{ url_for('static', filename='images/photo21.jpg') }}" alt="Shubman Gill photo 4">
  </div>
  <div class="gallery-item fade-in">
    <img src="{{ url_for('static', filename='images/photo22.jpg') }}" alt="Shubman Gill photo 4">
  </div>
  <div class="gallery-item fade-in">
    <img src="{{ url_for('static', filename='images/photo23.jpg') }}" alt="Shubman Gill photo 4">
  </div>
</div>
{% endblock %}



