{% extends "base.html" %}
{% block content %}
<div class="contact-center">
<h3>Follow Shubman Gill</h3>
<ul class="social-links">
  <li>
    <a href="https://www.instagram.com/shubmangill/" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-instagram"></i> Instagram
    </a>
  </li>
  <li>
    <a href="https://twitter.com/ShubmanGill" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-twitter"></i> Twitter
    </a>
  </li>
  <li>
    <a href="https://www.facebook.com/shubmangillofficial" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-facebook"></i> Facebook
    </a>
  </li>
</ul>
</div>
{% endblock %}
